{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">CarOcc - Sur les routes en toute simplicité</h1>
            <p class="lead">Nous sommes un garage indépendant des grandes marques qui vous propose des véhicules d'occasions à bon prix </p>
            <hr class="my-4">
            <p>Pour voir notre séléction de voitures? C'est part ici ! </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('cars_index') }}" role="button">Vers notre showroom</a>
            </p>
        </div>

        <h1 class='mt-3 mb-4'>Présentation du garage</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, debitis totam? Cupiditate at veniam voluptatum voluptas eius officiis provident, quos doloribus, deleniti accusamus tempore hic expedita similique nesciunt quam fugiat.
        Officiis nihil corrupti ipsa sunt excepturi ab reprehenderit inventore veritatis labore repellat ipsum iste dolorem impedit, et reiciendis? Sapiente vel delectus quas illum aspernatur aut, accusamus ratione nihil aliquam a?
        Quod odio harum sunt recusandae nihil voluptatum sit quis excepturi rem commodi illum perspiciatis, unde necessitatibus inventore, voluptatibus, quisquam explicabo optio maiores? Hic optio officia pariatur enim deserunt laboriosam autem.
        Quas iure mollitia, sunt commodi porro explicabo alias obcaecati libero odio perferendis deleniti, vitae doloribus incidunt corrupti. Ducimus earum non pariatur, culpa quas consequatur quasi ea soluta necessitatibus a iste!
        </p>
        
        
    </div>
{% endblock %}
